@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 10px;
}

body h1, h2, nav {
  font-family: "VT323", monospace;
}

h1 {
  font-size: clamp(19px, 4em, 38px);
}

h2 {
  font-size: clamp(14px, 3em, 29px);
}

nav {
  font-size: clamp(12px, 2.5em, 24px);
}

a {
  text-decoration: none;
}
