@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 10px;
}

body {
  font-family: "VT323";
}
